.nav {
  width: 100%;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3.6rem;
}

.nav ul {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.nav li img,
.nav button img {
  height: 2.4rem;
}

.nav li a {
  font-size: 2.4rem;
  text-decoration: none;
  color: inherit;
  transition: var(--animation);
}

.nav li a:hover {
  color: var(--orange);
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav button:hover {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-40deg);
  }
  20% {
    transform: rotateZ(20deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-10deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
