:root {
  --light: #dee2e6;
  --dark: #212529;

  --orange: #ff922b;
  /* --orange: #20c997; */
  --teal: #20c997;
  --violet: #845ef7;
  --grape: #09050a;

  --shadow: -4px 4px 0 var(--dark);
  --animation: all 0.2s ease-in-out;
}
